<div class="row mt-5" data-test="cards">

    {% for id, tour in template_data.tours %}
    <div class="col-4" data-test="card">
        <div class="card mb-3">
            <a href="/tours/{{ id }}"><img src="{{ tour.picture }}" class="card-img-top" width="300" height="200" data-test="picture"></a>
            <div class="card-body">
                <h5 class="card-title text-truncate">{{ tour.country }}: {{ tour.title }}</h5>
                <p class="crop-text-2">{{ tour.description }}</p>
                <h6 class="float-left">{{ tour.date }}, {{ tour.nights }} ночей, {{ tour.price }} P</h6>
                <h6 class="float-right">{{ tour.stars }}★</h6>
            </div>
        </div>
    </div>
    {% endfor %}

</div>