<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ template_data.tour.title }} {{ template_data.tour.stars }} ★</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-3">

    {% include 'nav_bar.html' %}

    <div class="display-5 mt-4">
        <a href="/departures/{{ template_data.dep_active }}" class="text-decoration-none">Назад</a>
    </div>

    <h1 class="display-5 mt-4" data-test="title">{{ template_data.tour.title }} {{ template_data.tour.stars }} ★</h1>

    <!-- HERO -->

    <p class="lead" data-test="lead"><span data-test="country">{{ template_data.tour.country }}</span> <span
            data-text="departure">{{ template_data.departure }}</span> <span data-text="nights">{{ template_data.tour.nights }}</span> ночей</p>

    <img data-test="picture"
         src="{{ template_data.tour.picture }}"
         class="w-50" alt="">

    <p class="my-4 w-50" data-test="description">{{ template_data.tour.description }}</p>

    <a href="" class="btn btn-success btn-lg" data-test="buybutton">Купить тур за <span
            data-test="price">{{ template_data.tour.price }}</span></a>
</div>

{% include 'footer.html' %}

</body>
</html>